@import '~antd/dist/antd.css';
.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header-item {
  margin-right: 25px;
}

header select {
  width: 140px;
  height: 30px;
  line-height: 30px;
}
button.x-button {
  background-color: #4082bf;
  color: #fff;
  height: 30px;
  padding: 0 15px;
  border-radius: 3px;
  border: 1px solid #4586c3;
  cursor: pointer;
}

button.x-button:hover {
  opacity: 0.9;
}
button.x-button.default {
  /* background-color:  */
  margin-right: 20px;
  background: #fff;
  border: 1px solid #ccc;
  color: #444;
}
button.x-button.default:hover {
  background: #f7f7f7;
}

header,
footer {
  height: 50px;
  background: #f7f7f7;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
footer {
  justify-content: flex-end;
}
main {
  flex: 1;
  overflow-x: hidden;
  overflow-y: hidden;
}
main table th {
  background: #4e9ce5 !important;
  color: #fff !important;
}
.ant-table-column-sorter-up.active,
.ant-table-column-sorter-down.active {
  color: #fff;
}
